@import "../../../../scss/variables.scss";

window-form-button-bar {
    width:100% ;
    grid-row: 1;
    grid-column: span 16;
    background-color: rgba($color-secondary-dark, 0.1);
    
    border-radius: $windowBorderRadius;
    position: sticky;
    
    padding: 5px;
    top:5px;
    display: block;

    max-width: 600px;
    margin: 0px auto 10px auto;
    
    & > * {
        display: block;
        width:120px;
        float:right;
        margin-left:5px;
        background-color: #357;
        border-radius: $windowBorderRadius;
        &:hover {
            background-color: #579;
        }
        

    }



}
