@import "../../../../scss/variables";

desktop-tray-bar-component {
  position: absolute;
  height: $desktopTrayBarHeight;
  bottom: $desktopFooterHeight;
  left: 0;
  right: 0;
  background-color: $destopTrayBarColor;
  color: #bbb;
}

desktop-tray-bar-item {
  cursor: pointer;
  display: inline-block;
  background-color: $windowHeaderColour;
  color: white;
  height:$desktopTrayBarHeight - 2 ;
  padding: 5px;
  font-size:0.7em;

  &.active {
    background-color: $windowHeaderActiveColour;
  }
  &:hover {
    background-color: $windowHeaderActiveColour;
  }
  border-radius: $windowBorderRadius  $windowBorderRadius 0 0;
  margin-right: 2px;
  margin-top:2px;
}
