@import "../../scss/variables";

window-form {
  padding: 5px;
  margin: 0;
  border: solid 0px #ddd;
  border-radius: $windowBorderRadius;
  max-width:600px;
  margin: 10px auto 10px auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  /* grid-template-columns: 150px 150px 150px 150px; */
  width: 100%;

  & > * {
    /* border:solid 1px #ddf; */
    border-radius: $windowBorderRadius;

    display: block;

    /* display: inline-block; */
    grid-column: span 6;
    .mobile & {
      grid-column: span 6 !important;
    }
  }
  & > * > input {   
    border-radius: $windowBorderRadius;
    padding:5px;
    display: inline-block;    
    border: solid 1px #ddd;
    width:100%;    
  }
  &>*>label {
        display: block;
        font-size: 0.8em;
        color:$color-primary-dark;
    }

}

