@import "../../../../scss/variables";

desktop-component {
  min-width: 240px;
  position: absolute;
  background-color: bisque;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  desktop-window-container {
    position: absolute;
    background-color: #eee;    

    background-image: linear-gradient(
        to right bottom,
        rgba(white, 0.2),
        rgba(white, 0.8)),
        url('https://images.unsplash.com/photo-1512351735230-a07ebdf5b5e1')
      ;
    background-size: cover;
    background-position: top;



    top: $desktopHeaderHeight + $desktopMenuBarHeight;
    bottom: $desktopTrayBarHeight + $desktopFooterHeight;
    left: 0;
    right: 0;

  }



  
}
